**DESCRIPTION:**

This Jupyter Notebook shows the data collection of world cup matches from 1930 to 2018 and fixture in the Qatar 2022 World Cup. The "web scraping" will be done with the BeautifulSoup library to finally both be saved as a csv file.

# 2. Data collection of worldcup matches from 1930 to 2018 and Qatar 2022 fixture with BeautifulSoup

In [1]:
# To install BeautifulSoup
# !pip install bs4

**Libraries**

In [2]:
from bs4 import BeautifulSoup   #Web scraping

In [3]:
import requests   #Send requests to a web page

In [4]:
import pandas as pd   #DataFrame

## 2.1 Data collection of worldcup matches from 1930 to 2018 with BeautifulSoup

### 2.1.1 Web scraping

In [5]:
# Generate a list of years of all worldcups
years = [x for x in range(1930, 2019, 4)]
years

[1930,
 1934,
 1938,
 1942,
 1946,
 1950,
 1954,
 1958,
 1962,
 1966,
 1970,
 1974,
 1978,
 1982,
 1986,
 1990,
 1994,
 1998,
 2002,
 2006,
 2010,
 2014,
 2018]

In [6]:
# Function to extract the matches of every world cup
def get_matches(year):

    website = f'https://en.wikipedia.org/wiki/{year}_FIFA_World_Cup'   # website link

    response = requests.get(website)   # Request website
    content = response.text   # Response in text format
    soup = BeautifulSoup(content, 'lxml')   # assigning the parse 'lxml'

    # Searching multiple items
    matches = soup.find_all('div', class_="footballbox")   #list

    # Empty lists
    first_team = []
    score = []
    second_team = []

    # Two teams and the goals
    for match in matches:
        first_team.append(match.find('th', class_="fhome").get_text())
        score.append(match.find('th', class_="fscore").get_text())
        second_team.append(match.find('th', class_="faway").get_text())

    # A dictionary
    dict_football = {'First_team':first_team, 'Score':score, 'Second_team':second_team}


    # Create DataFrame
    df_football = pd.DataFrame(dict_football)

    # Create a column for its year
    df_football['Year'] = year
    df_football
    
    return df_football

In [7]:
# Use the function "get_matches()" to get a list of all the World Cup matches.
world_cups = [get_matches(year) for year in years]

In [8]:
world_cups

[        First_team Score     Second_team  Year
 0          France    4–1          Mexico  1930
 1       Argentina    1–0          France  1930
 2           Chile    3–0          Mexico  1930
 3           Chile    1–0          France  1930
 4       Argentina    6–3          Mexico  1930
 5       Argentina    3–1           Chile  1930
 6      Yugoslavia    2–1          Brazil  1930
 7      Yugoslavia    4–0         Bolivia  1930
 8          Brazil    4–0         Bolivia  1930
 9         Romania    3–1            Peru  1930
 10        Uruguay    1–0            Peru  1930
 11        Uruguay    4–0         Romania  1930
 12  United States    3–0         Belgium  1930
 13  United States    3–0        Paraguay  1930
 14       Paraguay    1–0         Belgium  1930
 15      Argentina    6–1   United States  1930
 16        Uruguay    6–1      Yugoslavia  1930
 17        Uruguay    4–2       Argentina  1930,
          First_team         Score      Second_team  Year
 0            Spain            3–1           Brazil  1934
 1          Hungary            4–2            Egypt  1934
 2      Switzerland            3–2      Netherlands  1934
 3            Italy            7–1    United States  1934
 4   Czechoslovakia            2–1          Romania  1934
 5           Sweden            3–2        Argentina  1934
 6          Austria   3–2 (a.e.t.)           France  1934
 7          Germany            5–2          Belgium  1934
 8          Austria            2–1          Hungary  1934
 9            Italy   1–1 (a.e.t.)            Spain  1934
 10         Germany            2–1           Sweden  1934
 11  Czechoslovakia            3–2      Switzerland  1934
 12           Italy            1–0            Spain  1934
 13           Italy            1–0          Austria  1934
 14  Czechoslovakia            3–1          Germany  1934
 15         Germany            3–2          Austria  1934
 16           Italy   2–1 (a.e.t.)   Czechoslovakia  1934,
          First_team         Score         Second_team  Year
 0      Switzerland   1–1 (a.e.t.)             Germany  1938
 1          Hungary            6–0   Dutch East Indies  1938
 2           Sweden         w/o[a]             Austria  1938
 3             Cuba   3–3 (a.e.t.)             Romania  1938
 4           France            3–1             Belgium  1938
 5            Italy   2–1 (a.e.t.)              Norway  1938
 6           Brazil   6–5 (a.e.t.)              Poland  1938
 7   Czechoslovakia   3–0 (a.e.t.)         Netherlands  1938
 8      Switzerland            4–2             Germany  1938
 9             Cuba            2–1             Romania  1938
 10         Hungary            2–0         Switzerland  1938
 11          Sweden            8–0                Cuba  1938
 12           Italy            3–1              France  1938
 13          Brazil   1–1 (a.e.t.)      Czechoslovakia  1938
 14          Brazil            2–1      Czechoslovakia  1938
 15         Hungary            5–1              Sweden  1938
 16           Italy            2–1              Brazil  1938
 17          Brazil            4–2              Sweden  1938
 18           Italy            4–2             Hungary  1938,
 Empty DataFrame
 Columns: [First_team, Score, Second_team, Year]
 Index: [],
 Empty DataFrame
 Columns: [First_team, Score, Second_team, Year]
 Index: [],
         First_team Score     Second_team  Year
 0          Brazil    4–0          Mexico  1950
 1      Yugoslavia    3–0     Switzerland  1950
 2          Brazil    2–2     Switzerland  1950
 3      Yugoslavia    4–1          Mexico  1950
 4          Brazil    2–0      Yugoslavia  1950
 5     Switzerland    2–1          Mexico  1950
 6         England    2–0           Chile  1950
 7           Spain    3–1   United States  1950
 8           Spain    2–0           Chile  1950
 9   United States    1–0         England  1950
 10          Spain    1–0         England  1950
 11          Chile    5–2   United States  1950
 12         Sweden    3–2           Italy  1950
 13         Sweden    2–2        Paraguay  1950
 14          Italy    2–0        Paraguay  1950
 15        Uruguay    8–0         Bolivia  1950
 16        Uruguay    2–2           Spain  1950
 17         Brazil    7–1          Sweden  1950
 18         Brazil    6–1           Spain  1950
 19        Uruguay    3–2          Sweden  1950
 20         Sweden    3–1           Spain  1950
 21        Uruguay    2–1          Brazil  1950,
        First_team         Score      Second_team  Year
 0         Brazil            5–0           Mexico  1954
 1     Yugoslavia            1–0           France  1954
 2         Brazil   1–1 (a.e.t.)       Yugoslavia  1954
 3         France            3–2           Mexico  1954
 4   West Germany            4–1           Turkey  1954
 5        Hungary            9–0      South Korea  1954
 6        Hungary            8–3     West Germany  1954
 7         Turkey            7–0      South Korea  1954
 8   West Germany            7–2           Turkey  1954
 9        Uruguay            2–0   Czechoslovakia  1954
 10       Austria            1–0         Scotland  1954
 11       Uruguay            7–0         Scotland  1954
 12       Austria            5–0   Czechoslovakia  1954
 13   Switzerland            2–1            Italy  1954
 14       England   4–4 (a.e.t.)          Belgium  1954
 15         Italy            4–1          Belgium  1954
 16       England            2–0      Switzerland  1954
 17   Switzerland            4–1            Italy  1954
 18       Austria            7–5      Switzerland  1954
 19       Uruguay            4–2          England  1954
 20  West Germany            2–0       Yugoslavia  1954
 21       Hungary            4–2           Brazil  1954
 22  West Germany            6–1          Austria  1954
 23       Hungary   4–2 (a.e.t.)          Uruguay  1954
 24       Austria            3–1          Uruguay  1954
 25  West Germany            3–2          Hungary  1954,
            First_team         Score        Second_team  Year
 0          Argentina            1–3       West Germany  1958
 1   Northern Ireland            1–0     Czechoslovakia  1958
 2       West Germany            2–2     Czechoslovakia  1958
 3          Argentina            3–1   Northern Ireland  1958
 4       West Germany            2–2   Northern Ireland  1958
 5     Czechoslovakia            6–1          Argentina  1958
 6   Northern Ireland   2–1 (a.e.t.)     Czechoslovakia  1958
 7             France            7–3           Paraguay  1958
 8         Yugoslavia            1–1           Scotland  1958
 9         Yugoslavia            3–2             France  1958
 10          Paraguay            3–2           Scotland  1958
 11            France            2–1           Scotland  1958
 12          Paraguay            3–3         Yugoslavia  1958
 13            Sweden            3–0             Mexico  1958
 14           Hungary            1–1              Wales  1958
 15            Mexico            1–1              Wales  1958
 16            Sweden            2–1            Hungary  1958
 17            Sweden            0–0              Wales  1958
 18           Hungary            4–0             Mexico  1958
 19             Wales            2–1            Hungary  1958
 20            Brazil            3–0            Austria  1958
 21      Soviet Union            2–2            England  1958
 22            Brazil            0–0            England  1958
 23      Soviet Union            2–0            Austria  1958
 24           England            2–2            Austria  1958
 25            Brazil            2–0       Soviet Union  1958
 26      Soviet Union            1–0            England  1958
 27            Brazil            1–0              Wales  1958
 28            France            4–0   Northern Ireland  1958
 29            Sweden            2–0       Soviet Union  1958
 30      West Germany            1–0         Yugoslavia  1958
 31            Brazil            5–2             France  1958
 32            Sweden            3–1       West Germany  1958
 33            France            6–3       West Germany  1958
 34            Brazil            5–2             Sweden  1958,
          First_team Score      Second_team  Year
 0          Uruguay    2–1         Colombia  1962
 1     Soviet Union    2–0       Yugoslavia  1962
 2       Yugoslavia    3–1          Uruguay  1962
 3     Soviet Union    4–4         Colombia  1962
 4     Soviet Union    2–1          Uruguay  1962
 5       Yugoslavia    5–0         Colombia  1962
 6            Chile    3–1      Switzerland  1962
 7     West Germany    0–0            Italy  1962
 8            Chile    2–0            Italy  1962
 9     West Germany    2–1      Switzerland  1962
 10    West Germany    2–0            Chile  1962
 11           Italy    3–0      Switzerland  1962
 12          Brazil    2–0           Mexico  1962
 13  Czechoslovakia    1–0            Spain  1962
 14          Brazil    0–0   Czechoslovakia  1962
 15           Spain    1–0           Mexico  1962
 16          Brazil    2–1            Spain  1962
 17          Mexico    3–1   Czechoslovakia  1962
 18       Argentina    1–0         Bulgaria  1962
 19         Hungary    2–1          England  1962
 20         England    3–1        Argentina  1962
 21         Hungary    6–1         Bulgaria  1962
 22         Hungary    0–0        Argentina  1962
 23         England    0–0         Bulgaria  1962
 24           Chile    2–1     Soviet Union  1962
 25  Czechoslovakia    1–0          Hungary  1962
 26          Brazil    3–1          England  1962
 27      Yugoslavia    1–0     West Germany  1962
 28  Czechoslovakia    3–1       Yugoslavia  1962
 29          Brazil    4–2            Chile  1962
 30           Chile    1–0       Yugoslavia  1962
 31          Brazil    3–1   Czechoslovakia  1962,
        First_team         Score    Second_team  Year
 0        England            0–0        Uruguay  1966
 1         France            1–1         Mexico  1966
 2        Uruguay            2–1         France  1966
 3        England            2–0         Mexico  1966
 4         Mexico            0–0        Uruguay  1966
 5        England            2–0         France  1966
 6   West Germany            5–0    Switzerland  1966
 7      Argentina            2–1          Spain  1966
 8          Spain            2–1    Switzerland  1966
 9      Argentina            0–0   West Germany  1966
 10     Argentina            2–0    Switzerland  1966
 11  West Germany            2–1          Spain  1966
 12        Brazil            2–0       Bulgaria  1966
 13      Portugal            3–1        Hungary  1966
 14       Hungary            3–1         Brazil  1966
 15      Portugal            3–0       Bulgaria  1966
 16      Portugal            3–1         Brazil  1966
 17       Hungary            3–1       Bulgaria  1966
 18  Soviet Union            3–0    North Korea  1966
 19         Italy            2–0          Chile  1966
 20         Chile            1–1    North Korea  1966
 21  Soviet Union            1–0          Italy  1966
 22   North Korea            1–0          Italy  1966
 23  Soviet Union            2–1          Chile  1966
 24       England            1–0      Argentina  1966
 25  West Germany            4–0        Uruguay  1966
 26  Soviet Union            2–1        Hungary  1966
 27      Portugal            5–3    North Korea  1966
 28  West Germany            2–1   Soviet Union  1966
 29       England            2–1       Portugal  1966
 30      Portugal            2–1   Soviet Union  1966
 31       England   4–2 (a.e.t.)   West Germany  1966,
        First_team         Score      Second_team  Year
 0         Mexico            0–0     Soviet Union  1970
 1        Belgium            3–0      El Salvador  1970
 2   Soviet Union            4–1          Belgium  1970
 3         Mexico            4–0      El Salvador  1970
 4   Soviet Union            2–0      El Salvador  1970
 5         Mexico            1–0          Belgium  1970
 6        Uruguay            2–0           Israel  1970
 7          Italy            1–0           Sweden  1970
 8        Uruguay            0–0            Italy  1970
 9         Sweden            1–1           Israel  1970
 10        Sweden            1–0          Uruguay  1970
 11         Italy            0–0           Israel  1970
 12       England            1–0          Romania  1970
 13        Brazil            4–1   Czechoslovakia  1970
 14       Romania            2–1   Czechoslovakia  1970
 15        Brazil            1–0          England  1970
 16        Brazil            3–2          Romania  1970
 17       England            1–0   Czechoslovakia  1970
 18          Peru            3–2         Bulgaria  1970
 19  West Germany            2–1          Morocco  1970
 20          Peru            3–0          Morocco  1970
 21  West Germany            5–2         Bulgaria  1970
 22  West Germany            3–1             Peru  1970
 23      Bulgaria            1–1          Morocco  1970
 24  Soviet Union   0–1 (a.e.t.)          Uruguay  1970
 25         Italy            4–1           Mexico  1970
 26        Brazil            4–2             Peru  1970
 27  West Germany   3–2 (a.e.t.)          England  1970
 28       Uruguay            1–3           Brazil  1970
 29         Italy   4–3 (a.e.t.)     West Germany  1970
 30       Uruguay            0–1     West Germany  1970
 31        Brazil            4–1            Italy  1970,
        First_team Score    Second_team  Year
 0   West Germany    1–0          Chile  1974
 1   East Germany    2–0      Australia  1974
 2      Australia    0–3   West Germany  1974
 3          Chile    1–1   East Germany  1974
 4      Australia    0–0          Chile  1974
 5   East Germany    1–0   West Germany  1974
 6         Brazil    0–0     Yugoslavia  1974
 7          Zaire    0–2       Scotland  1974
 8     Yugoslavia    9–0          Zaire  1974
 9       Scotland    0–0         Brazil  1974
 10      Scotland    1–1     Yugoslavia  1974
 11         Zaire    0–3         Brazil  1974
 12       Uruguay    0–2    Netherlands  1974
 13        Sweden    0–0       Bulgaria  1974
 14      Bulgaria    1–1        Uruguay  1974
 15   Netherlands    0–0         Sweden  1974
 16      Bulgaria    1–4    Netherlands  1974
 17        Sweden    3–0        Uruguay  1974
 18         Italy    3–1          Haiti  1974
 19        Poland    3–2      Argentina  1974
 20     Argentina    1–1          Italy  1974
 21         Haiti    0–7         Poland  1974
 22     Argentina    4–1          Haiti  1974
 23        Poland    2–1          Italy  1974
 24   Netherlands    4–0      Argentina  1974
 25        Brazil    1–0   East Germany  1974
 26     Argentina    1–2         Brazil  1974
 27  East Germany    0–2    Netherlands  1974
 28     Argentina    1–1   East Germany  1974
 29   Netherlands    2–0         Brazil  1974
 30    Yugoslavia    0–2   West Germany  1974
 31        Sweden    0–1         Poland  1974
 32        Poland    2–1     Yugoslavia  1974
 33  West Germany    4–2         Sweden  1974
 34        Poland    0–1   West Germany  1974
 35        Sweden    2–1     Yugoslavia  1974
 36        Brazil    0–1         Poland  1974
 37   Netherlands    1–2   West Germany  1974,
        First_team         Score    Second_team  Year
 0          Italy            2–1         France  1978
 1      Argentina            2–1        Hungary  1978
 2          Italy            3–1        Hungary  1978
 3      Argentina            2–1         France  1978
 4         France            3–1        Hungary  1978
 5      Argentina            0–1          Italy  1978
 6   West Germany            0–0         Poland  1978
 7        Tunisia            3–1         Mexico  1978
 8   West Germany            6–0         Mexico  1978
 9         Poland            1–0        Tunisia  1978
 10  West Germany            0–0        Tunisia  1978
 11        Poland            3–1         Mexico  1978
 12       Austria            2–1          Spain  1978
 13        Brazil            1–1         Sweden  1978
 14       Austria            1–0         Sweden  1978
 15        Brazil            0–0          Spain  1978
 16         Spain            1–0         Sweden  1978
 17        Brazil            1–0        Austria  1978
 18          Peru            3–1       Scotland  1978
 19   Netherlands            3–0           Iran  1978
 20      Scotland            1–1           Iran  1978
 21   Netherlands            0–0           Peru  1978
 22          Peru            4–1           Iran  1978
 23      Scotland            3–2    Netherlands  1978
 24       Austria            1–5    Netherlands  1978
 25         Italy            0–0   West Germany  1978
 26   Netherlands            2–2   West Germany  1978
 27         Italy            1–0        Austria  1978
 28       Austria            3–2   West Germany  1978
 29         Italy            1–2    Netherlands  1978
 30        Brazil            3–0           Peru  1978
 31     Argentina            2–0         Poland  1978
 32          Peru            0–1         Poland  1978
 33     Argentina            0–0         Brazil  1978
 34        Brazil            3–1         Poland  1978
 35     Argentina            6–0           Peru  1978
 36        Brazil            2–1          Italy  1978
 37     Argentina   3–1 (a.e.t.)    Netherlands  1978,
          First_team         Score        Second_team  Year
 0            Italy            0–0             Poland  1982
 1             Peru            0–0           Cameroon  1982
 2            Italy            1–1               Peru  1982
 3           Poland            0–0           Cameroon  1982
 4           Poland            5–1               Peru  1982
 5            Italy            1–1           Cameroon  1982
 6     West Germany            1–2            Algeria  1982
 7            Chile            0–1            Austria  1982
 8     West Germany            4–1              Chile  1982
 9          Algeria            0–2            Austria  1982
 10         Algeria            3–2              Chile  1982
 11    West Germany            1–0            Austria  1982
 12       Argentina            0–1            Belgium  1982
 13         Hungary           10–1        El Salvador  1982
 14       Argentina            4–1            Hungary  1982
 15         Belgium            1–0        El Salvador  1982
 16         Belgium            1–1            Hungary  1982
 17       Argentina            2–0        El Salvador  1982
 18         England            3–1             France  1982
 19  Czechoslovakia            1–1             Kuwait  1982
 20         England            2–0     Czechoslovakia  1982
 21          France            4–1             Kuwait  1982
 22          France            1–1     Czechoslovakia  1982
 23         England            1–0             Kuwait  1982
 24           Spain            1–1           Honduras  1982
 25      Yugoslavia            0–0   Northern Ireland  1982
 26           Spain            2–1         Yugoslavia  1982
 27        Honduras            1–1   Northern Ireland  1982
 28        Honduras            0–1         Yugoslavia  1982
 29           Spain            0–1   Northern Ireland  1982
 30          Brazil            2–1       Soviet Union  1982
 31        Scotland            5–2        New Zealand  1982
 32          Brazil            4–1           Scotland  1982
 33    Soviet Union            3–0        New Zealand  1982
 34    Soviet Union            2–2           Scotland  1982
 35          Brazil            4–0        New Zealand  1982
 36          Poland            3–0            Belgium  1982
 37         Belgium            0–1       Soviet Union  1982
 38    Soviet Union            0–0             Poland  1982
 39    West Germany            0–0            England  1982
 40    West Germany            2–1              Spain  1982
 41           Spain            0–0            England  1982

### 2.1.2 Save list in a DataFrame

In [9]:
# Create a DataFrame of the concatenation of all the elements of the list "world_cups".
df_world_cups = pd.concat(world_cups, ignore_index=True)
df_world_cups

     First_team         Score Second_team  Year
0       France            4–1      Mexico  1930
1    Argentina            1–0      France  1930
2        Chile            3–0      Mexico  1930
3        Chile            1–0      France  1930
4    Argentina            6–3      Mexico  1930
..          ...           ...         ...   ...
896     Russia   2–2 (a.e.t.)     Croatia  2018
897     France            1–0     Belgium  2018
898    Croatia   2–1 (a.e.t.)     England  2018
899    Belgium            2–0     England  2018
900     France            4–2     Croatia  2018

[901 rows x 4 columns]

### 2.1.3 Export dictionary as a csv file

In [10]:
# Export all worldcups to an csv file
#df_world_cups.to_csv('data/FIFA_Worldcup_historical_data.csv', index=False)

## 2.2 Data collection of fixture in the Qatar 2022 World Cup with BeautifulSoup

### 2.2.1 Web scraping

In [11]:
# website link
website = 'https://web.archive.org/web/20221115040351/https://en.wikipedia.org/wiki/2022_FIFA_World_Cup'

In [12]:
response = requests.get(website)
content = response.text
soup = BeautifulSoup(content, 'lxml')   #assigning the parse 'lxml'

# searching multiple items
matches = soup.find_all('div', class_="footballbox")   #list

# Empty lists
first_team = []
score = []
second_team = []

# Two teams and the goals
for match in matches:
    first_team.append(match.find('th', class_="fhome").get_text())
    score.append(match.find('th', class_="fscore").get_text())
    second_team.append(match.find('th', class_="faway").get_text())

# A dictionary
dict_football = {'First_team':first_team, 'Score':score, 'Second_team':second_team}

### 2.2.2 Save in a DataFrame

In [13]:
# Create DataFrame
df_fixture = pd.DataFrame(dict_football)

# Create a column for its year
df_fixture['Year'] = 2022

In [14]:
# Fixture Qatar 2022
df_fixture

          First_team     Score       Second_team  Year
0             Qatar    Match 1           Ecuador  2022
1           Senegal    Match 2       Netherlands  2022
2             Qatar   Match 18           Senegal  2022
3       Netherlands   Match 19           Ecuador  2022
4           Ecuador   Match 35           Senegal  2022
..               ...       ...               ...   ...
59  Winners Match 51  Match 59  Winners Match 52  2022
60  Winners Match 57  Match 61  Winners Match 58  2022
61  Winners Match 59  Match 62  Winners Match 60  2022
62   Losers Match 61  Match 63   Losers Match 62  2022
63  Winners Match 61  Match 64  Winners Match 62  2022

[64 rows x 4 columns]

### 2.2.3 Export DataFrame as a csv file

In [15]:
# Export worldcup Qatar 2022 to csv file
df_fixture.to_csv('data/FIFA_Worldcup_2022_Qatar.csv', index=False)